<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!--CDN FOR DIALOG BOX EDIT CARDS-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--DIALOG BOX FOR EDIT CARDS-->




  <style>
    div[class^="col"] {
      height: 142px;
      border-style: dashed;
      width: auto;
      box-sizing: border-box;
      border: 1px solid green;
      flex: 1;
    }

    .coluna {
      flex-direction: column;
    }
  </style>


  <!--LOAD TAKE A NOTE-->
  <script>
    $(document).ready(function () {
      $('#takeaNote').load('takeaNote.html');
    });
  </script>


  <!--LOAD ICONS -->
  <script>
    $(document).ready(function () {
      $('#iconsbekku').load('icons.html');
    });
  </script>

  <!--ADD CSS FROM DASHVOARD CSS-->
  <link rel="stylesheet" href="dashbord.css">

  <!--TITLE BAR ICON-->
  <link rel="shortcut icon" href="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" type="image/x-icon">

  <!--TITLE-->
  <title>FuNdooo</title>




</head>

<body>

  <!-- navigation bar-->
  <div class="navigationBar">
    <nav class="toolbar">
      <div class="toolbar1">
        <!-- keep, side navigation bar-->
        <div class="keep-allignment">
          <div class="sidenavigationbar">
            <div class="menubar">
              <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#8801;
              </span>
            </div>
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="sideIcons">
                <a class="iiit " href="trythis.html"><i class="fa iiii fa-lightbulb-o notes"></i>Notes</a>
                <a class=""><i class="fa iiii fa-bell-o reminders"></i>Reminders</a>
                <div class="dropdown-divider"></div>
                <a data-toggle="modal" data-target="#exampleModalCenter"><i
                    class="fa iiii fa-pencil editLabels"></i>Edit Labels</a>
                <div class="clickherelab">
                  <div class="getherelabels"></div>
                </div>

                <script>
                  $(document).ready(function () {
                    $.ajax({
                      url: 'http://localhost:4500/note/getNotes',
                      type: 'POST',
                      data: JSON.stringify({
                        headers: { "token": localStorage.getItem("token") }
                      }),
                      processData: false,
                      contentType: 'application/json',
                      success: function (res) {
                        for (var t = 0; t < res.data.length; t++) {
                          if (res.data[t].label.length > 0) {
                            for (var h = 0; h < res.data[t].label.length; h++) {
                              var $ll = $("<div class='human' id=" + res.data[t].label[h] + " >" + res.data[t].label[h] + "</div> <br>")
                              $('.getherelabels').append($ll);


                            }
                          }
                        }

                      },
                      error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)
                      }

                    })
                  });
                </script>







                <div class="dropdown-divider"></div>
                <a class="binn" href="archive.html"><i class="fa iiii fa-trash-o bin"></i>ARCHIVE</a>
                <a class="binn" href="binn.html"><i class="fa iiii fa-trash-o bin"></i>Bin</a>
              </div>
            </div>
          </div>


          <div>
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" style="margin: 10px;" width:
              40px; height: 40px; class="d-inline-block align-top" alt="">
          </div>

          <div class="keep">
            Keep
          </div>
          <div class="searchh"><input type="text" id="searching" class="searching">
            <button type="submit" class="searchmadi" id="searchmadi"><i class="fa fa-search"></i></button>
          </div>


        </div>




        <!-- setting, refresh, list veiw-->
        <div class="rightside ml-auto">
          <div class="threeicons ">
            <i class=" de repeat  fa fa-repeat " title="refresh"></i>
            <i class=" de listbar  fa fa-bars " title="list view"></i>
            <i class="de setting  fa fa-cog " title="settings"></i>
          </div>
        </div>
        <!-- sign out awathar-->
        <div class="signoutdropdown">

          <div class="dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown">
              <img class="imagepro"
                src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png"
                alt="">
            </div>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="login.html">sign-out</a>
            </div>
          </div>

        </div>
      </div>
  </div>
  </div>
  </div>
  </div>
  </nav>



  <!----------------------------TO SEARCHH------------------------------------>

  <script>
    $(document).ready(function () {
      $(".searchmadi").click(function () {
        var what = $("#searching").val().trim();
        console.log(what);

        $.ajax({
          url: 'http://localhost:4500/note/searchnotes',
          type: 'POST',
          data: JSON.stringify({
            matchf: what,
            headers: { "token": localStorage.getItem("token") }
          }),
          processData: false,
          contentType: 'application/json',
          success: function (data) {
            console.log(data, 'gggggggggggggg')
            alert('got!')
          },
          error: function (jqXHR, textStatus, err) {
            alert('error in searching')
          }

        })
      });
    });
  </script>


  <!---------------------- SIDE NAV BAR------------------------------->


  <!------TO GO TO ARCHIVE NOTES PAGE---------->
  <script>
    $(document).ready(function () {
      $(".archive").click(function () {
        window.location = 'archive.html'
      });
    });
  </script>


  <!--------TO GO TO DELETE NOTES PAGE-------------->

  <script>
    $(document).ready(function () {
      $(".binn").click(function () {
        window.location = 'bin.html'
      });
    });


  </script>












  <!--Take A Note-->
  <div id="takeaNote"></div>

  <button class="buttongrd">coluna/linha</button>


  <!---------GAP -->
  <div class="gapp" style="height: 46px;"></div>

  <!--Saved Notes-->
  <div id="writingHere"></div>


  <!-- Modal FOR DIALOG BOX -->
  <div id="dialog">
    <div class="textBox2" id="largeOne dialog">
      <div class="cardsss" id="dialog">
        <div class="card-title">
          <textarea class="takeanote titttle abc " name="getTitle" id="rat" placeholder="  title.."
            style="overflow: hidden"></textarea>
        </div>
        <div class="card-text">
          <div class="iconnn">
            <div>
              <textarea class="takeanote discriptionn   kop " name="getDis" id="cat"
                placeholder="  discription.."></textarea>
            </div>
            <div class="iconwithbutton">
              <div class="iconandbutton">
                <div class="diaicon">
                  <div class="fourico">
                    <i class="foot fa qq fa-bell"></i>
                    <i class="foot fa qq fa-user-plus"></i>
                    <i class="foot fa qq fa-arrow-circle-o-down"></i>
                    <i class="foot fa qq fa-picture-o"></i>
                    <i class="foot fa qq fa-ellipsis-v"></i>
                  </div>


                  <div class="buttonclass">
                    <button type="button" class="updateButton">UPDATE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




  <!-- Modal FOR DIALOG BOX -->





  <!--UPDATE NOTES-->

  <script>
    $(document).ready(function () {
      $(".updateButton").click(function () {
        event.preventDefault();
        // var ttit = $("#getTitle").html(); 
        var diss = document.getElementById("cat").value
        var ttit = document.getElementById("rat").value
        var iden = document.getElementsByClassName("updateButton").id;
        if (ttit != "" && diss != "") {
          $.ajax({
            url: 'http://localhost:4500/note/updateNotes',
            type: 'PUT',
            data: JSON.stringify({
              note_id: iden,
              title: ttit,
              discription: diss,
              headers: { "token": localStorage.getItem("token") }
            }),
            processData: false,
            contentType: 'application/json',
            success: function (data) {
              alert('Success!')
            },
            error: function (jqXHR, textStatus, err) {
              alert('text status ' + textStatus + ', err ' + err)
            }

          })
        }
      });
    });
  </script>





  <!--SAVED NOTES-->
  <script>
    var notes = [];
    $(function ($) {
      $.ajax({
        url: 'http://localhost:4500/note/getNotes',
        type: 'POST',
        data: JSON.stringify({
          email: localStorage.getItem("email"),
          headers: { "token": localStorage.getItem("token") }
        }),
        processData: false,
        contentType: 'application/json',
        success: function (response) {
          notes = response.data;
          
         var out = '<div class="container">'
          out += '<div id="colunaX" class="row flex-column">'
          for (var i = 0; i < response.data.length; i++) {
            $.each(response.data[i], function (key, value) {
              if (key == "title" && response.data[i].isArchive != true && response.data[i].isTrash != true) {
                var idety = response.data[i]._id;
                out = ' <div class="notes3">'
                out += '<div class="forcolor ' + response.data[i]._id + '">'
                out += '<div class="modifiySavedNotes">'
                out += '<div class="iconsdu " id="' + response.data[i]._id + '">'
                out += '<div class="col-xs-2">'
                out += '  <div class="card cc ' + response.data[i]._id + '">'
                out += '<div  data-toggle="modal" data-target="#modalupdate" class="card-title titletext " id=' + response.data[i]._id + '>'
                out += response.data[i].title
                out += ' </div>'
                out += ' <div class="card-text  maintext  " id=' + response.data[i].discription + ' >'
                out += response.data[i].discription
                out += '</div>'
                out += '<div id="icons"></div>'

                //for icons
                out += ' <div class="footericons">'
                out += '<div class="firstfour ">'


                // reminder  drop-down '<input type="date" id="birthday" name="birthday">'
                out += '<div class="dropdown">'
                out += '<a class=" dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
                out += '<span class=" io reminder dropdown-toggle"  title="reminder" id=" date' + response.data[i]._id + '" ><i  class="foot fa fa-bell"></i> </span>'
                out += ' </a>'
                out += '<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">'
                out += '<a class="dropdown-item" >Reminder:</a>'
                out += '<a class="dropdown-item"  >Later Today</a>'
                out += '<div class="dropdown show">'
                out += '<a class="dropdown-item dropdown-toggle" id="datepicker" >'
                out += 'select date '
                out += '</a>'
                out += '<div id=' + response.data[i]._id + ' class="adddate">'
                out += '<input type="date" id="birthday" name="birthday">'
                out += '<button type="button" class="btn btn-light reminderbutton" id=' + response.data[i]._id + '>remind!</button>'
                out += '</div>'
                out += '</div>'
                out += '</div>'
                out += '</div>'





                out += '<span  class=" io colloborator"  title="colloborator" id="' + response.data[i]._id + '" ><i class="foot  fa fa-user-plus"></i> </span>'



                out += '<span class=" io archiveMadu"  title="archive" id="' + response.data[i]._id + '" ><i class=" foot fas fa-arrow-circle-up"></i> </span>'
                out += '<span class=" io addPicture"  title="addPicture" id="' + response.data[i]._id + '" ><i class="foot fa fa-picture-o" title="add picture" ></i> </span>'

                //dropdown for color
                out += '<div class="dropdown">'
                out += '<a  type="text" id="dropdownMenuButton" data-toggle="dropdown" '
                out += '<i title="color" class=" io fa fa-tachometer"></i>'
                out += '</a>'
                out += ' <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">'
                out += '<div class="colours">'
                out += '<a id="' + response.data[i]._id + '" class=" colour one btn " role="button" aria-pressed="true"></a>'
                out += '<a id="' + response.data[i]._id + '"class=" colour two btn " role="button" aria-pressed="true"></a>'
                out += '<a id="' + response.data[i]._id + '" class=" colour three btn " role="button" aria-pressed="true"></a>'
                out += '<a id="' + response.data[i]._id + '" class=" colour four btn " role="button" aria-pressed="true"></a>'
                out += '<a id="' + response.data[i]._id + '" class=" colour five btn " role="button" aria-pressed="true"></a>'
                out += '<a id="' + response.data[i]._id + '" class=" colour six btn " role="button" aria-pressed="true"></a>'

                out += '</div>'
                out += '</div>'
                out += '</div>'





                // DROP-DOWN MENU FOR MORE                 
                out += '<div class="dropdown">'
                out += '<a  type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"'
                out += '<i title="more" class=" io foot fa fa-ellipsis-v" id="foot" ></i>'
                out += '</a>'
                out += ' <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">'
                out += '<div class="todeleting" id= "' + response.data[i]._id + '" >'
                out += ' <a class="dropdown-item todeleting" id= "' + response.data[i]._id + '" > DELETE </a>'
                out += '</div>'
                out += '<div class="toaddtag" id= "' + response.data[i]._id + '" > '
                out += ' <a data-toggle="modal" data-target="#exampleModalCenter" class="dropdown-item addingtag" id= "' + response.data[i]._id + '" > ADD LABEL </a>'
                out += '</div>'
                out += '</div>'
                out += '</div>'
                out += '</div>'

                // REMINDERSS...
                $(function ($) {
                  $(".reminderbutton").click(function () {
                    var remm = $("#birthday").val().trim();

                    console.log(this.id);


                    $.ajax({
                      url: 'http://localhost:4500/note/addReminder',
                      type: 'POST',
                      data: JSON.stringify({

                        _id: this.id,
                        headers: { "token": localStorage.getItem("token") }

                      }),
                      processData: false,
                      contentType: 'application/json',
                      success: function (res) {
                        alert("reminder saved")
                      },
                      error: function (jqXHR, textStatus, err) {
                        alert("error in reminder")
                      }

                    })


                  })
                })






                // GET COLOUR CARD VISE
                $(document).ready(function () {
                  var colId = response.data[i]._id;
                  var colmain = response.data[i].title;
                  $.ajax({
                    url: 'http://localhost:4500/note/getcolor',
                    type: 'POST',
                    data: JSON.stringify({
                      _id: response.data[i]._id,
                      headers: { "token": localStorage.getItem("token") }

                    }),
                    processData: false,
                    contentType: 'application/json',
                    success: function (res) {
                      if (res.data[0]._id === colId)
                        $("." + colId).css('background-color', res.data[0].color);
                    },
                    error: function (jqXHR, textStatus, err) {
                      alert('text status ' + textStatus + ', err ' + err)
                    }

                  })
                });

                $('#writingHere').append(out);


              }
            })
          }

          out += '</div>'
          out += '</div>'
          $('#writingHere').append(out);
          // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! APPLY COLOR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

          $(function ($) {
            $(".one").click(function () {
              var colId = this.id;
              color = "#FF0000";
              $.ajax({
                url: 'http://localhost:4500/note/color',
                type: 'PUT',
                data: JSON.stringify({
                  _id: colId,
                  color: color,
                  headers: { "token": localStorage.getItem("token") }
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                  alert("color changed :)")
                }
              })
            })
          })


          $(function ($) {
            $(".two").click(function () {
              var colId = this.id;
              $.ajax({
                url: 'http://localhost:4500/note/color',
                type: 'PUT',
                data: JSON.stringify({
                  _id: colId,
                  color: "#7FFFD4",
                  headers: { "token": localStorage.getItem("token") }
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                  alert("color changed :)")
                }
              })
            })
          })

          $(function ($) {
            $(".three").click(function () {
              var colId = this.id;
              $.ajax({
                url: 'http://localhost:4500/note/color',
                type: 'PUT',
                data: JSON.stringify({
                  _id: colId,
                  color: "#A52A2A",
                  headers: { "token": localStorage.getItem("token") }
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                  alert("color changed :)")
                }
              })
            })
          })



          $(function ($) {
            $(".four").click(function () {
              var colId = this.id;
              $.ajax({
                url: 'http://localhost:4500/note/color',
                type: 'PUT',
                data: JSON.stringify({
                  _id: colId,
                  color: "#5F9EA0",
                  headers: { "token": localStorage.getItem("token") }
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                  alert("color changed :)")
                }
              })
            })
          })


          $(function ($) {
            $(".five").click(function () {
              var colId = this.id;
              $.ajax({
                url: 'http://localhost:4500/note/color',
                type: 'PUT',
                data: JSON.stringify({
                  _id: colId,
                  color: "#B8860B",
                  headers: { "token": localStorage.getItem("token") }
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                  alert("color changed :)")
                }
              })
            })
          })


          $(function ($) {
            $(".six").click(function () {
              var colId = this.id;
              $.ajax({
                url: 'http://localhost:4500/note/color',
                type: 'PUT',
                data: JSON.stringify({
                  _id: colId,
                  color: "#20B2AA",
                  headers: { "token": localStorage.getItem("token") }
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                  alert("color changed :)")
                }
              })
            })
          })







          //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!DIALOG BOXX FOR COLLABORATOR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



          $(function () {
            var got;
            $(".colloborator").click(function () {
              console.log(this.id)
              document.getElementsByClassName("addbutton").id = this.id;
              console.log(document.getElementsByClassName("addbutton").id, "jjjjjjjjjjjjjjjj");

              $("#dialog1").dialog(
                {
                  autoOpen: false, modal: true, show: "blind", hide: "blind",
                  open: function () {

                  }
                });

              $("#dialog1").dialog("open");
              return false;
            })
          });






          //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! LOAD DIALOG BOX  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          $(function () {
            var got;
            $(".titletext").click(function () {
              for (let i = 0; i < notes.length; i++) {
                if (notes[i]._id === this.id) {
                  got = notes[i]

                  $("#dialog").dialog(
                    {
                      autoOpen: false, modal: true, show: "blind", hide: "blind",
                      open: function () {
                        document.getElementById("rat").innerHTML = got.title;
                        document.getElementById("cat").innerHTML = got.discription;
                        document.getElementsByClassName("updateButton").id = got._id
                        $("#cat").get(0).contentEditable = "true";
                        $("#rat").get(0).contentEditable = "true";
                      }
                    });
                }
              }
              $("#dialog").dialog("open");
              return false;
            })
          });


          //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

          // TO ARCHIVE
          $('.archiveMadu').click(function () {
            data = JSON.stringify({
              _id: this.id,
              archive: true,
              headers: { "token": localStorage.getItem("token") }
            })
            $.ajax({
              url: 'http://localhost:4500/note/toArchive',
              type: 'POST',
              data: data,
              processData: false,
              contentType: 'application/json',
              success: function (data) {
                alert("archived", data);
              },
              error: function () {
                alert("error in archiving");
              }
            })
          })


          // TO DELETE
          $('.todeleting').click(function () {
            data = JSON.stringify({
              _id: this.id,
              trash: true,
              headers: { "token": localStorage.getItem("token") }
            })
            $.ajax({
              url: 'http://localhost:4500/note/toTrash',
              type: 'POST',
              data: data,
              processData: false,
              contentType: 'application/json',
              success: function (data) {
                alert("archived", data);
              },
              error: function () {
                alert("error in archiving");
              }
            })
          })




          // ADD LABELS THROUGH NAV BAR AND CARDS
          $('.labdone, .addingtag').click(function () {
            var idng = this.id;
            $('.labdone').click(function () {
              var label = $(".labeladd").val().trim();
              data = JSON.stringify({
                label: label,
                note_id: idng,
                headers: { "token": localStorage.getItem("token") }
              })
              $.ajax({
                url: 'http://localhost:4500/note/addlabelnote',
                type: 'POST',
                data: data,
                processData: false,
                contentType: 'application/json',
                success: function (data) {
                  alert("label added", data);
                },
                error: function () {
                  alert("error in adding label");
                }
              })
            })
          })


          //MODEL FOR COLABORATOR







          //END OF SAVED NOTES AJAX
        },
        error: function (jqXHR, textStatus, err) {
          alert('text status ' + textStatus + ', err ' + err)
        }
      })
    })
  </script>



  <!---------------------DIALOG FOR EDIT LABELS-------------------------->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Labels</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea class="labeladd"></textarea>
        </div>
        <div id="appendlabel" class="appendlabel"></div>
        <div class="forlabelsshow">
          <script>
            //TO GET ALL LABELS ON DIALOG BOX
            $(document).ready(function () {
              $.ajax({
                url: 'http://localhost:4500/note/getLabels',
                type: 'POST',
                data: JSON.stringify({
                  headers: { "token": localStorage.getItem("token") }

                }),
                processData: false,
                contentType: 'application/json',
                success: function (res) {
                  for (var k = 0; k < res.data.length; k++) {
                    var $msg = $("<div>" + res.data[k].label + "</div> <br>")
                    $('.forlabelsshow').append($msg)
                  }
                },
                error: function (jqXHR, textStatus, err) {
                  alert('text status ' + textStatus + ', err ' + err)
                }

              })
            });
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary labdone" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  


  <!--------------DIALOG BOX FOR COLLABORATOR----------------->
  <div id="dialog1">
    <div class="" id=" dialog1">
      <div class="locals" id="locals"></div>
      <div class="cardsss" id="dialog1">
        <input type="text" id="textadd" class="textadd">
        <button type="button" class="btn btn-light addbutton">ADD+</button>
      </div>
    </div>
  </div>

  <!-----------------TO ADD COLLABORATOR--------------------->
  <script>
    $(document).ready(function () {
      $(".addbutton").click(function () {

        console.log(document.getElementsByClassName("addbutton").id, "OOOOOOOOOOOOOOOOOOOOOOOOO");
        var eml = $("#textadd").val().trim();
        console.log(eml);

        $.ajax({
          url: 'http://localhost:4500/note/addCollaborator',
          type: 'POST',
          data: JSON.stringify({
            noteId: document.getElementsByClassName("addbutton").id,
            collbId: eml,
            headers: { "token": localStorage.getItem("token") }
          }),
          processData: false,
          contentType: 'application/json',
          success: function (res) {
            console.log(res, "99999999999999")
            alert('collaborator added')
          },
          error: function (jqXHR, textStatus, err) {
            alert('collaborator not added')
          }

        })

      });
    });
  </script>









  <!--script for side navigation bar-->
  <script>
    closeNav();
    function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>


  <script>
    $(".buttongrd").click(function () {
      $("#colunaX").toggleClass("flex-column");
    });
  </script>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>





</body>


</html>