.toolbar {
  box-shadow: 0 -7px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 70px;
  
}

.toolbar1 {
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.keep-allignment {
  display: flex;
  align-items: center;
}
.allthree{
  display: flex;
    align-items: center;
}

.searching{
  display: flex;
    align-self: center;
    width: 438px;
}
.searchkeep{
  display: flex;
}
.searchh{
  display: flex;
  margin: auto;
    padding-left: 160px;
}

.keep {
  color: #5f6368;
  width: 55px;
  opacity: 63;
  height: 40px;
  font-size: 2.3rem;
}
.Archive{
  opacity: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #3c4043;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 48px;
}
.rightside {
  color: #5f6368;
  display: flex;
  align-items: center;
  margin: 30px
}

.search-container {
  width: 63%;
}
.searchbar {
  width: 80%;
  opacity: 0.54;
  background-color: rgba(95, 99, 104, 0.157);
  transition: opacity 0.218s linear, visibility 0s linear;
  box-sizing: border-box;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}
.threeicons {

}

.repeat {
  height: 30px;
  opacity: 0.54;
  padding-right: 20px;
}
:hover {
}

.listbar {
  height: 30px;
  opacity: 0.54;
  padding-right: 20px;
}

.setting {
  height: 30px;
  opacity: 0.54;
}

.mySidenav{
width: 170px !important;
}
.sidenav {
  height: 100%;
  width: 175px ;
  position: fixed;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 19px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menubar {
  display: flex;
  margin: 20px;
}

.signoutdropdown {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 10%;
}

.closebutton{
  padding-left: 118px;
}

.textbox1 {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;

  min-height: 43px;
  padding: 10px 15px;
  box-shadow: inset 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);

  max-width: 64rem;
  height: 10px;
  border-radius: 6px;
  margin-top: 4%;
  box-sizing: border-box;
}

.takeanote {
  width: -webkit-fill-available;
  margin-left: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 62px;
  font-size: large;
}
.footericons{
  display: -webkit-inline-box;
  margin-top: 13px;
  margin-left: 15px;
}

.aa {
  height: 26px;
}

.textBox2 {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin-top: 6%;
  height: 170px;
  /* transition: background-color .218s ease-in-out,box-shadow .218s ease-in-out */
}
.cardsss {
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  /* height: 154px */
  height: auto;
  width: 630px;
}
.colladd{
  width: -webkit-fill-available;
    height: 35px;
}

 .io {
  padding-left: 10px;
  color: black;
} 

/* .reminder {
  padding-left: 10px;
} */

.cc {
  height: 141px;
  max-height: 141px;
  border-radius: 10px !important;
}
.de {
  font-size: 23.2px;
    color: black;
}

.qq {
  margin-right: 12px;
}

.titlee {
  border: none;
}

.discription {
  border: none;
  height: 159px;
}

.withicons {
  display: inherit;
  justify-content: space-between;
}

.pp7 {
  font-size: 61px;
}

#writingHere {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 573px;
}
.notes3 {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.iconsdu {
  width: 203%;
}

.firstfour{
  display: flex;
  justify-content:  space-evenly;
}

.card-text {
  height: 133px;
}

.iiii {
  font-size: 1.7em;
  margin-right: 22px;
}

.iiii :hover {
  color: yellow;
}

.iiit {
  font-size: 17px;
}

.iconandbutton {
  display: flex;
  justify-content: space-between;
}
.iconandbutton1{

    height: 40px;
    display: -webkit-box;
}

.iconnn {
  display: flow-root;
}

.buttonclass {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: medium !important;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  /* font-size: 16px; */
  font-style: italic;
  font-variant: proportional-nums;
}

.oooo {
  border: none;
  background: none;
}

.iconsdu{
  max-width: 208px;
}


.maintext{
  
  height: 75px;
  padding-top: 5px;
  padding-left: 15px;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.titletext{
  
    height: 41px;
    padding-top: 5px;
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
.co{
  color: black;
}
/* .maintext {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #202124;
  padding: 4px 16px 12px 16px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
} 

.titletext {
  padding-top: 12px;
  letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 545;
  line-height: 1.5rem;
  min-height: 38px;
  padding: 16px 16px 0 16px;
  transition: background-color 0.218s ease-in;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-user-modify: read-only;
  direction: ltr;
  unicode-bidi: isolate;
}

.titletext{
  width: 207px;
    height: 96px;
}

.maintext{
  width: 207px;
    height: 96px;
} */

.dropdown-toggle::after {
  display: none;
}

.kop{

  width: -webkit-fill-available !important;
  height: auto !important;
}
.buttonclass{
  padding-left: 278px;
}
.dropdown-item{
  width: 30% !important
}
.colours{
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.fourico{
  display: flex;
  justify-content: space-around;
}

.ui-widget.ui-widget-content{
  width: 422px !important;
  border-radius: 11px;
}



/*DIALOG BOX*/
#cat{
  height: 106px;
}



.abc{
  overflow: hidden;
  width: -webkit-fill-available;
}



/*COLOURS*/

.colour{
  width: 20px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 5px
}

.forcolor{
  border-radius: 20px;
  height: 139px;
  width: 175px;
}

.colours{
  display: flex;
  width: 107px;
  flex-wrap: wrap;
}

.one{
  background-color: #FF0000
}

.two{
  background-color: #7FFFD4;
}

.three {
  background-color: #A52A2A
}

.four {
  background-color: #5F9EA0;
}

.five {
  background-color: #B8860B 
}

.six {
  background-color: #20B2AA
}


.aab{
  background-color: #FF0000
}

.bbc{
  background-color: #7FFFD4;
}
.ccd{
  background-color: #A52A2A
}

.dde{
  background-color: #5F9EA0;
}

.eef{
  background-color: #B8860B 
}

.ffg{
  background-color: #20B2AA
}

.notes3{
  height: fit-content
}


.labeladd{
  width: -webkit-fill-available;
  height: inherit;
  border-bottom-style: dashed;
  border-bottom-color: black;
  border-top: none;
  border-right: none;
  border-left: none;
}

.modal-content{
  width: 56% !important;
}


.imagepro{
  height: 69px;
  border-radius: 41px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

.item.list-group-item
{
	float: none;
	width: 100%;
	background-color:green;
}
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img{float:left;}
.item.list-group-item:after
{
	clear:both;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color:green;
}

.item.list-group-item img{float:left;}
