<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--CDN FOR DIALOG BOX EDIT CARDS-->
    <link rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <!--DIALOG BOX FOR EDIT CARDS-->
    <div id="dialog" >
      
    </div>



    <script>
          $(document).ready(function() {
        $('#takeaNote').load('takeaNote.html');
    });
          </script>
    <script>
    $(document).ready(function() {
  $('#savedNotes').load('displayNote.html');
});
    </script>



    <script>
  $(document).ready(function() {
$('#iconsbekku').load('icons.html');
});
  </script>


    <link rel="stylesheet" href="dashbord.css">
    <link rel="shortcut icon"
      href="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
      type="image/x-icon">
    <title>FuNdooo</title>
  </head>
  <body>
    <!-- navigation bar-->
    <div class="navigationBar">
      <nav class="toolbar">
        <div class="toolbar1">
          <!-- keep, side navigation bar-->
          <div class="keep-allignment">
            <div class="sidenavigationbar">
              <div class="menubar">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#8801;
                </span>
              </div>
              <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn"
                  onclick="closeNav()">&times;</a>
                <div class="sideIcons">
                  <a class="iiit" href="#"><i class="fa iiii fa-lightbulb-o"></i>Notes</a>
                  <a href="#"><i class="fa iiii fa-bell-o"></i>Reminders</a>
                  <div class="dropdown-divider"></div>
                  <a href="#"><i class="fa iiii fa-pencil"></i>Edit Labels</a>
                  <div class="dropdown-divider"></div>
                  <a href="#"><i class="fa iiii fa-arrow-circle-down"></i>Archive</a>
                  <a href="#"><i class="fa iiii fa-trash-o"></i>Bin</a>
                </div>
              </div>
            </div>
            <div>
              <img
                src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                width: 40px; height: 40px; class="d-inline-block align-top"
                alt="">
            </div>
            <div class="keep">
              Keep
            </div>
          </div>
          <!-- setting, refresh, list veiw-->
          <div class="rightside">
            <div class="threeicons">
              <i class="repeat pp7 fa fa-repeat fa-lg" title="refresh"></i>
              <i class="listbar pp7 fa fa-bars fa-lg"></i>
              <i class="setting pp7 fa fa-cog fa-lg"></i>
            </div>
          </div>
          <!-- sign out awathar-->
          <div class="signoutdropdown">
            <li class="nav-item avatar dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="" class="rounded-circle z-depth-0" alt="avatar image">
              </a>
              <div class="dropdown-menu dropdown-menu-left"
                aria-labelledby="navbarDropdownMenuLink-5">
                <a class="dropdown-item" href="#">Sign-Out</a>

              </div>
            </li>
          </div>

        </div>
      </nav>


      <!--Take A Note-->
      <div id="takeaNote"></div>

      <!--Saved Notes-->
      <div id="writingHere">
      </div>



      <!--SAVED NOTES-->
      <script>
          
        $(function($){
          $.ajax({
                  url: 'http://localhost:4500/note/getNotes',
                  type: 'POST',
                  data: JSON.stringify({
                    email : localStorage.getItem("email"),
                    headers: {"token": localStorage.getItem("token")}
                  }),
                  processData: false,
                  contentType: 'application/json',
                  success: function (response) {
                    console.log("*****************************************",response)
                    for(var i=0; i<response.data.length; i++){
                     $.each(response.data[i], function(key,value){
                       if(key == "title" && response.data[i].isArchive != true && response.data[i].isTrash != true){
                    var out = ' <div class="notes3">'
                    out+= '<div class="modifiySavedNotes">'
                    out+= '<div class="iconsdu" data-toggle="modal" data-target="#myModal">'
                    out+= '  <div class="card cc">'
                    out+= '<div class="card-title titletext " id='+response.data[i].title+'>'
                    out+= response.data[i].title
                    out+= ' </div>'
                    out+= ' <div class="card-text  maintext" id='+response.data[i].discription+'>'
                    out+= response.data[i].discription
                    out+= '</div>'
                    out+= '<div id="icons"></div>'

                      //for icons  
                          out+= ' <div class="footericons">'
                          out+= '<div class="firstfour">'
                          out+=  '<span class=" io reminder"  title="reminder" id="'+response.data[i]._id+'" ><i class="foot fa fa-bell"></i> </span>'
                          out+=  '<span class=" io colloborator"  title="colloborator" id="'+response.data[i]._id+'" ><i class="foot  fa fa-user-plus"></i> </span>'
                          out+= '<span class=" io archiveMadu"  title="archive" id="'+response.data[i]._id+'" ><i class="foot fa fa-arrow-circle-o-down"></i> </span>'
                          out+= '<span class=" io addPicture"  title="addPicture" id="'+response.data[i]._id+'" ><i class="foot fa fa-picture-o" title="add picture" ></i> </span>'

                          // DROP-DOWN MENU FOR MORE 
                          out+= '<div class="btn-group dropright">'
                          out+= '<span class=" io more"  title="More" id="'+response.data[i]._id+'" ><i class="foot fa fa-ellipsis-v"></i> </span>'
                          out+= ' <div class="dropdown-menu">'
                          out+= '<a class="dropdown-item" href="#">Action</a>'
                          out+= '<a class="dropdown-item" href="#">Action</a>'
                          out+= '</div>'
                          out+= '</div>'




                          out+= '</div>'
                          out+= '</div>'

                          out+= '</div>'
                          out+= ''
                    out+= '</div>'
                    out+= ' </div>'
                    out+= ' </div>'
                    out+= '</div> '
                    out+= ' </div> '
                    out+= ' </div> '

            $('#writingHere').append(out);
         
     
                       }
                       
                    })
                    
                    }
                    // TO ARCHIVE

                    $('.archiveMadu').click(function(){
                      console.log("XXXXXXXXXX", this.id)
                      data= JSON.stringify({
                        _id : this.id,
                        archive : true,
                        headers: {"token": localStorage.getItem("token")}
                      })
                      console.log(data,"%%%%%%%%%%%%%%%%%%%%%%%%%")
                      $.ajax({
                        url: 'http://localhost:4500/note/toArchive',
                        type: 'POST',
                        data: data,
                        processData: false,
                  contentType: 'application/json',
                        success : function(data){
                          alert("archived",data);
                        },
                        error: function(){
                          alert("error in archiving");
                        }
                      })
                    })

                    // TO DELETE
                    $('.more').click(function(){
                      console.log("XXXXXXXXXX", this.id)
                      data= JSON.stringify({
                        _id : this.id,
                        archive : true,
                        headers: {"token": localStorage.getItem("token")}
                      })
                      console.log(data,"%%%%%%%%%%%%%%%%%%%%%%%%%")
                      $.ajax({
                        url: 'http://localhost:4500/note/toTrash',
                        type: 'POST',
                        data: data,
                        processData: false,
                  contentType: 'application/json',
                        success : function(data){
                          alert("deleted",data);
                        },
                        error: function(){
                          alert("error in archiving");
                        }
                      })
                    })


                    // DIALOG BOX TO EDIT TITLE DISCRIPTION
                    $('.notes3').click(function(){
                    
                      console.log("clikkkkkkkkkkked DIALOG BOX",document.getElementsByClassName("maintext")[1].innerText)
                      $( function() {
                         $( "#dialog" ).dialog();
                                } );

                                var diBox = '<div id="dialog" >'

                                  })
                  },
                  error: function (jqXHR, textStatus, err) {
                      alert('text status ' + textStatus + ', err ' + err)
                  }
              })       
        })
        
                
        </script>
      <!--script for side navigation bar-->
      <script>
        closeNav();
      function openNav() {
        document.getElementById("mySidenav").style.width = "200px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>
      <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>    -->
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    </body>
  </html>
